<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" action="{{url_for('upload_fm.upload_fm')}}" method='POST' enctype="multipart/form-data">
    <div class="input-group">
        <input type="file" id='file' name='file' class="form-control bg-light border-0 small" aria-label="Upload" aria-describedby="basic-addon2" required>
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-file-arrow-up fa-sm"></i>
            </button>
        </div>
    </div>
</form>