<script type="text/javascript">

function chart_feature_inclusion_probabilities() {
  var ctx = document.getElementById('chart_feature_inclusion_probabilities');

  var x = '{{data["Feature Inclusion Probabilities"].value.x | tojson | safe }}';
  x = JSON.parse(x);
  var y = '{{data["Feature Inclusion Probabilities"].value.y | tojson | safe }}';
  y = JSON.parse(y);
  var colors = '{{data["Feature Inclusion Probabilities"].value.colors | tojson | safe }}';
  colors = JSON.parse(colors);

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: x,
      datasets: [{
        label: '%Features',
        data: y,
        borderWidth: 1,
        borderColor: 'black',
        backgroundColor: colors,
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
          title: {
              display: true,
              text: "%Features"
          }
        },
        x: {
          title: {
              display: true,
              text: "Feature probability of being included in a valid product"
          },
        }
      },
      barThickness: 4,
      plugins: {
          legend: {
              display: false
          },
          tooltip: {
              displayColors: false,
              callbacks: {
                  label: function(context) {
                      return context.parsed.y + '% features';
                  },
              }
          }
      }
    }
  });
}
chart_feature_inclusion_probabilities();
</script>