<!-- Area Chart -->
<div class="col-xl-6 col-lg-6">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">{{data['Product Distribution'].name}}</h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                    aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Dropdown Header:</div>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <div class="chart-area">
                <canvas id="chart_product_distribution"></canvas>
            </div>
            <div class="mt-4 text-center small">
                <span class="mr-2">
                    <i class="fas fa-circle text-dark"></i>Mean: {{data['Descriptive statistics'].value.Mean}}
                </span>
                <span class="mr-2">
                    <i class="fas fa-circle text-dark"></i>Standard deviation: {{data['Descriptive statistics'].value['Standard deviation']}}
                </span>
                <span class="mr-2">
                    <i class="fas fa-circle text-dark"></i>Median: {{data['Descriptive statistics'].value.Median}}
                </span>
                <span class="mr-2">
                    <i class="fas fa-circle text-dark"></i>Median absolute deviation: {{data['Descriptive statistics'].value['Median absolute deviation']}}
                </span>
                <span class="mr-2">
                    <i class="fas fa-circle text-dark"></i>Mode: {{data['Descriptive statistics'].value.Mode}}
                </span>
                <span class="mr-2">
                    <i class="fas fa-circle text-dark"></i>Min: {{data['Descriptive statistics'].value.Min}}
                </span>
                <span class="mr-2">
                    <i class="fas fa-circle text-dark"></i>Max: {{data['Descriptive statistics'].value.Max}}
                </span>
                <span class="mr-2">
                    <i class="fas fa-circle text-dark"></i>Range: {{data['Descriptive statistics'].value.Range}}
                </span>
            </div>
        </div>
    </div>
</div>
