{% extends 'base.html' %}

{% block content %}

<!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Features Card -->
        {% include 'analysis/satisfiable.html' %}

         <!-- Features Card -->
         {% include 'analysis/features_number.html' %}

         <!-- Constraints Card -->
         {% include 'analysis/constraints_number.html' %}
         
        <!-- Extra Constraint Representativeness Card -->
        {% include 'analysis/extra_constraint_representativeness.html' %}

         <!-- Configurations Card -->
         {% include 'analysis/configurations_number.html' %}
 
         <!-- Total Variability Card -->
         {% include 'analysis/total_variability.html' %}
 
         <!-- Partial Variability Card -->
         {% include 'analysis/partial_variability.html' %}

         <!-- Homogeneity Card -->
         {% include 'analysis/homogeneity.html' %}

    </div>

    <!-- Content Row -->

    <div class="row">

        {% block charts %}
            {% include 'analysis/product_distribution.html' %}
            {% include 'analysis/feature_inclusion_probabilities.html' %}
        {% endblock %}
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

            <!-- Features Card -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Features ({{data['Features'].value}})</h6>
                </div>
                <div class="card-body">
                    <h4 class="small font-weight-bold">{{data['Core features'].name}}<span
                            class="float-right">{{data['Core features'].value}} ({{data['Core features %'].value}}%)</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-success" role="progressbar" style="width: {{data['Core features %'].value}}%"
                            aria-valuenow="{{data['Core features %'].value}}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">{{data['Dead features'].name}}<span
                            class="float-right">{{data['Dead features'].value}} ({{data['Dead features %'].value}}%)</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: {{data['Dead features %'].value}}%"
                            aria-valuenow="{{data['Dead features %'].value}}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">{{data['Variant features'].name}}<span
                            class="float-right">{{data['Variant features'].value}} ({{data['Variant features %'].value}}%)</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar" role="progressbar" style="width: {{data['Variant features %'].value}}%"
                            aria-valuenow="{{data['Variant features %'].value}}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">{{data['Pure optional features'].name}}<span
                            class="float-right">{{data['Pure optional features'].value}} ({{data['Pure optional features %'].value}}%)</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: {{data['Pure optional features %'].value}}%"
                            aria-valuenow="{{data['Pure optional features %'].value}}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-4">

            <!-- Constraints Card -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Constraints ({{data['Constraints'].value}})</h6>
                </div>
                <div class="card-body">
                    <h4 class="small font-weight-bold">{{data['Simple constraints'].name}}<span
                            class="float-right">{{data['Simple constraints'].value}} ({{data['Simple constraints %'].value}}%)</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-success" role="progressbar" style="width: {{data['Simple constraints %'].value}}%"
                            aria-valuenow="{{data['Simple constraints %'].value}}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">{{data['Requires constraints'].name}}<span
                            class="float-right">{{data['Requires constraints'].value}} ({{data['Requires constraints %'].value}}%)</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: {{data['Requires constraints %'].value}}%"
                            aria-valuenow="{{data['Requires constraints %'].value}}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">{{data['Excludes constraints'].name}}<span
                            class="float-right">{{data['Excludes constraints'].value}} ({{data['Excludes constraints %'].value}}%)</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-dark" role="progressbar" style="width: {{data['Excludes constraints %'].value}}%"
                            aria-valuenow="{{data['Excludes constraints %'].value}}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">{{data['Complex constraints'].name}}<span
                            class="float-right">{{data['Complex constraints'].value}} ({{data['Complex constraints %'].value}}%)</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: {{data['Complex constraints %'].value}}%"
                            aria-valuenow="{{data['Complex constraints %'].value}}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">{{data['Pseudo-complex constraints'].name}}<span
                        class="float-right">{{data['Pseudo-complex constraints'].value}} ({{data['Pseudo-complex constraints %'].value}}%)</span></h4>
                    <div class="progress mb-4">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: {{data['Pseudo-complex constraints %'].value}}%"
                        aria-valuenow="{{data['Pseudo-complex constraints %'].value}}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">{{data['Strict-complex constraints'].name}}<span
                        class="float-right">{{data['Strict-complex constraints'].value}} ({{data['Strict-complex constraints %'].value}}%)</span></h4>
                    <div class="progress mb-4">
                    <div class="progress-bar bg-dark" role="progressbar" style="width: {{data['Strict-complex constraints %'].value}}%"
                        aria-valuenow="{{data['Strict-complex constraints %'].value}}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
            
    {% endblock %}


{% block scripts %}

<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% include 'analysis/product_distribution_script.html' %}
{% include 'analysis/feature_inclusion_probabilities_script.html' %}


{% endblock %}